<!doctype html>
<html>
    <head>
        <link href="/stylesheet.css" rel="stylesheet"/>
        <title> Aquariums </title>

    </head>

    <body class = "bg">
        {{> title}}



        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/canvas.js"></script>
    </body>
</html>
